.detailContainer{
    display: flex;
    flex-direction: row;
    margin: 50px;
    justify-content: center;
}

.imgContainer img{
    width: 45vw;
    padding: 16px;
    border-radius: 24px;
    object-fit: fill;
}

.detailInfo{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 45vw;
    height: auto;
}

.detailInfo h2{
    justify-content: flex-start;
    margin-top: 0;
    font-weight: 500;
    font-style: oblique;
    color: #84738C;
    font-size: 2rem;
}

p{
    margin: 10px 0 10px 0;
    color: rgb(112, 112, 112);
}

.price{
    color: rgb(112, 112, 112);
    margin-right: 30px;
}

.btnBuy{
    background-color: #D5A6A4;
    border-style: none;
    padding: 10px 15px;
    border-radius: 50px;
    width: auto;
    cursor: pointer;
    font-weight: 600;
    color: rgb(47, 47, 47);
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    font-size: 14px;
}

.btnBuy:hover{
    background-color: #84738C;
    color: white;
}

.buyContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
}

.btnBack {
    background-color: white; 
    border: none; 
    padding: 10px 15px; 
    border-radius: 50px; 
    color: rgb(47, 47, 47); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    cursor: pointer; 
    font-weight: 600; 
    transition: background-color 0.3s ease, transform 0.3s ease; 
    margin-right: 10px; 
}

.btnBack:hover {
    background-color: #f0f0f0; 
}

