.Title{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    color: #4A4A4A;
    font-weight: 600;
    font-size: 28px;
}

.Intro{
    font-weight: 500;
    color: #4A4A4A;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 10px 25px 25px 25px;
}