.productCard{
    width: 400px;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    cursor: pointer;
}

.productCard img{
    width: 380px;
    height: 250px;
    object-fit: fill;
    border-radius: 8px;
}

h3{
    text-align: center;
    padding-bottom: 10px;
    font-weight: 400;
    color: #84738C;
    font-size: 1.5rem;
}
