.logo {
    height: 40px;
}

nav {
    background-color: #84738C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 50px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    padding: 5px;
    position: relative; 
    transition: transform 0.3s ease; 
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px; 
    left: 0;
    bottom: 0; 
    background-color: #ffffff; 
    border-radius: 2px; 
    transition: width 0.3s ease; 
}

nav ul li a:hover::after {
    width: 100%; 
}

nav ul li a:hover {
    cursor: pointer;
}
