
.logo{
    height: 40px;
}

nav{
    background-color: #84738C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

li{
    color: #fff;
    display: inline-block;
    list-style: none;
    padding: 10px 20px;
    border-radius: 50px;
}

li:hover{
    background-color: #fff;
    color: #84738C;
    cursor: pointer;

}