.itemContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 16px 16px 6px 16px;
    border-radius: 16px;
    margin-bottom: 20px;
}

.btnDelete{
    background-color: #D5A6A4;
    border-style: none;
    border-radius: 50px;
    width: auto;
    cursor: pointer;
    font-weight: 600;
    color: rgb(255, 255, 255);
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
    padding: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnDelete:hover{
    background-color: #84738C;
    color: white;
}


.subtotal{
    width: 200px;
    font-size: 18px;
}

.subDel{
    display: flex;
    flex-direction: row;
}